.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.gamelog {
  width: 200px;
  position: relative;
  top: 100px;
  left: 300px;
  border: 1px solid black;
}

.board {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
}

.stone {
  width: 26px;
  height: 26px;
  background-color: gray;
  border: 1px solid wheat;
  border: outset 4px;
  position: absolute;
}

.number {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stone0 {
  width: 24px;
  height: 24px;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bom {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -300px 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flag {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -270px 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoge {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
}
